.device-container {
    flex-direction: column;

    border: 2px solid #ECF0F1;
    margin: 10px auto;
    padding: 10px;
}

.unmap-button {
    width: 25%;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #c71e30;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.unmap-button:hover {
    background-color: #f16363;
}
