/* DevicesList.css */

.device-list-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.search-bar {
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.devices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.device-container {
    flex-direction: column;
    border: 2px solid #ECF0F1;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.device-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

@media (min-width: 600px) {
    .device-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .device-info {
        flex-direction: row;
        gap: 20px;
    }
}

.map-button {
    width: 25%;
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.map-button:hover {
    background-color: #2980b9;
}
